version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
